{
  "openapi": "3.0.3",
  "info": {
    "title": "Covid Act Now API",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://data.covidactnow.org/v2/latest",
      "description": "Latest available data"
    }
  ],
  "paths": {
    "/county/{fips}.timeseries.json": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "County Timeseries",
        "description": "Region Summary with Timeseries objects for a single county.",
        "responses": {
          "200": {
            "description": "Timeseries data for a single county.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "fips",
          "in": "path",
          "description": "5 Letter County FIPS code",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{fips}.json": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "County Summary",
        "description": "Region Summary object for a single county.",
        "responses": {
          "200": {
            "description": "Summary data for a single county.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "fips",
          "in": "path",
          "description": "5 Letter County FIPS code",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/state/{state}.timeseries.json": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "State Timeseries",
        "description": "Region Summary with Timeseries objects for a single state.",
        "responses": {
          "200": {
            "description": "Timeseries data for a single state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/state/{state}.json": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "State Summary",
        "description": "Region Summary object for a single state.",
        "responses": {
          "200": {
            "description": "Summary data for a single state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "AggregationLevel": {
        "title": "AggregationLevel",
        "enum": [
          "country",
          "state",
          "county"
        ],
        "description": "An enumeration."
      },
      "CovidPatientsMethod": {
        "title": "CovidPatientsMethod",
        "enum": [
          "actual",
          "estimated"
        ],
        "description": "Method used to determine number of current ICU patients with covid."
      },
      "NonCovidPatientsMethod": {
        "title": "NonCovidPatientsMethod",
        "enum": [
          "actual",
          "estimated_from_typical_utilization",
          "estimated_from_total_icu_actual"
        ],
        "description": "Method used to determine number of current ICU patients without covid."
      },
      "ICUHeadroomMetricDetails": {
        "title": "ICUHeadroomMetricDetails",
        "required": [
          "currentIcuCovid",
          "currentIcuCovidMethod",
          "currentIcuNonCovid",
          "currentIcuNonCovidMethod"
        ],
        "type": "object",
        "properties": {
          "currentIcuCovid": {
            "title": "Currenticucovid",
            "type": "integer",
            "description": "Current number of covid patients in icu."
          },
          "currentIcuCovidMethod": {
            "$ref": "#/components/schemas/CovidPatientsMethod"
          },
          "currentIcuNonCovid": {
            "title": "Currenticunoncovid",
            "type": "integer",
            "description": "Current number of covid patients in icu."
          },
          "currentIcuNonCovidMethod": {
            "$ref": "#/components/schemas/NonCovidPatientsMethod"
          }
        },
        "description": "Details about how the ICU Headroom Metric was calculated."
      },
      "Metrics": {
        "title": "Metrics",
        "type": "object",
        "properties": {
          "testPositivityRatio": {
            "title": "Testpositivityratio",
            "type": "number",
            "description": "Ratio of people who test positive calculated using a 7-day rolling average."
          },
          "caseDensity": {
            "title": "Casedensity",
            "type": "number",
            "description": "The number of cases per 100k population calculated using a 7-day rolling average."
          },
          "contactTracerCapacityRatio": {
            "title": "Contacttracercapacityratio",
            "type": "number",
            "description": "Ratio of currently hired tracers to estimated tracers needed based on 7-day daily case average."
          },
          "infectionRate": {
            "title": "Infectionrate",
            "type": "number",
            "description": "R_t, or the estimated number of infections arising from a typical case."
          },
          "infectionRateCI90": {
            "title": "Infectionrateci90",
            "type": "number",
            "description": "90th percentile confidence interval upper endpoint of the infection rate."
          },
          "icuHeadroomRatio": {
            "title": "Icuheadroomratio",
            "type": "number"
          },
          "icuHeadroomDetails": {
            "$ref": "#/components/schemas/ICUHeadroomMetricDetails"
          }
        },
        "description": "Calculated metrics data based on known actuals."
      },
      "HospitalResourceUtilization": {
        "title": "HospitalResourceUtilization",
        "type": "object",
        "properties": {
          "capacity": {
            "title": "Capacity",
            "type": "integer",
            "description": "Total capacity for resource."
          },
          "currentUsageTotal": {
            "title": "Currentusagetotal",
            "type": "integer",
            "description": "Currently used capacity for resource by all patients (COVID + Non-COVID)"
          },
          "currentUsageCovid": {
            "title": "Currentusagecovid",
            "type": "integer",
            "description": "Currently used capacity for resource by COVID "
          },
          "typicalUsageRate": {
            "title": "Typicalusagerate",
            "type": "number",
            "description": "Typical used capacity rate for resource. This excludes any COVID usage."
          }
        },
        "description": "Base model for API output."
      },
      "Actuals": {
        "title": "Actuals",
        "type": "object",
        "properties": {
          "cases": {
            "title": "Cases",
            "type": "integer",
            "description": "Cumulative number of confirmed or suspected cases"
          },
          "deaths": {
            "title": "Deaths",
            "type": "integer",
            "description": "Cumulative number of deaths that are suspected or confirmed to have been caused by COVID-19"
          },
          "positiveTests": {
            "title": "Positivetests",
            "type": "integer",
            "description": "Cumulative positive test results to date"
          },
          "negativeTests": {
            "title": "Negativetests",
            "type": "integer",
            "description": "Cumulative negative test results to date"
          },
          "contactTracers": {
            "title": "Contacttracers",
            "type": "integer",
            "description": "Number of Contact Tracers"
          },
          "hospitalBeds": {
            "title": "Hospitalbeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "Information about hospital bed utilization"
          },
          "icuBeds": {
            "title": "Icubeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "Information about ICU bed utilization"
          }
        },
        "description": "Known actuals data."
      },
      "RegionSummary": {
        "title": "RegionSummary",
        "required": [
          "fips",
          "country",
          "state",
          "level",
          "population",
          "lastUpdatedDate"
        ],
        "type": "object",
        "properties": {
          "fips": {
            "title": "Fips",
            "type": "string",
            "description": "Fips Code.  For state level data, 2 characters, for county level data, 5 characters."
          },
          "country": {
            "title": "Country",
            "type": "string",
            "description": "2-letter ISO-3166 Country code."
          },
          "state": {
            "title": "State",
            "type": "string",
            "description": "2-letter ANSI state code."
          },
          "county": {
            "title": "County",
            "type": "string",
            "description": "County name"
          },
          "level": {
            "$ref": "#/components/schemas/AggregationLevel"
          },
          "lat": {
            "title": "Lat",
            "type": "number",
            "description": "Latitude of point within the state or county"
          },
          "long": {
            "title": "Long",
            "type": "number",
            "description": "Longitude of point within the state or county"
          },
          "population": {
            "title": "Population",
            "exclusiveMinimum": false,
            "type": "integer",
            "description": "Total Population in geographic region."
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "actuals": {
            "$ref": "#/components/schemas/Actuals"
          },
          "lastUpdatedDate": {
            "title": "Lastupdateddate",
            "type": "string",
            "description": "Date of latest data",
            "format": "date"
          }
        },
        "description": "Summary of actual and prediction data for a single region."
      },
      "AggregateRegionSummary": {
        "title": "AggregateRegionSummary",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RegionSummary"
        },
        "description": "Summary data for multiple regions."
      },
      "MetricsTimeseriesRow": {
        "title": "MetricsTimeseriesRow",
        "required": [
          "date"
        ],
        "type": "object",
        "properties": {
          "testPositivityRatio": {
            "title": "Testpositivityratio",
            "type": "number",
            "description": "Ratio of people who test positive calculated using a 7-day rolling average."
          },
          "caseDensity": {
            "title": "Casedensity",
            "type": "number",
            "description": "The number of cases per 100k population calculated using a 7-day rolling average."
          },
          "contactTracerCapacityRatio": {
            "title": "Contacttracercapacityratio",
            "type": "number",
            "description": "Ratio of currently hired tracers to estimated tracers needed based on 7-day daily case average."
          },
          "infectionRate": {
            "title": "Infectionrate",
            "type": "number",
            "description": "R_t, or the estimated number of infections arising from a typical case."
          },
          "infectionRateCI90": {
            "title": "Infectionrateci90",
            "type": "number",
            "description": "90th percentile confidence interval upper endpoint of the infection rate."
          },
          "icuHeadroomRatio": {
            "title": "Icuheadroomratio",
            "type": "number"
          },
          "icuHeadroomDetails": {
            "$ref": "#/components/schemas/ICUHeadroomMetricDetails"
          },
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          }
        },
        "description": "Metrics data for a specific day."
      },
      "ActualsTimeseriesRow": {
        "title": "ActualsTimeseriesRow",
        "required": [
          "date"
        ],
        "type": "object",
        "properties": {
          "cases": {
            "title": "Cases",
            "type": "integer",
            "description": "Cumulative number of confirmed or suspected cases"
          },
          "deaths": {
            "title": "Deaths",
            "type": "integer",
            "description": "Cumulative number of deaths that are suspected or confirmed to have been caused by COVID-19"
          },
          "positiveTests": {
            "title": "Positivetests",
            "type": "integer",
            "description": "Cumulative positive test results to date"
          },
          "negativeTests": {
            "title": "Negativetests",
            "type": "integer",
            "description": "Cumulative negative test results to date"
          },
          "contactTracers": {
            "title": "Contacttracers",
            "type": "integer",
            "description": "Number of Contact Tracers"
          },
          "hospitalBeds": {
            "title": "Hospitalbeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "Information about hospital bed utilization"
          },
          "icuBeds": {
            "title": "Icubeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "Information about ICU bed utilization"
          },
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          }
        },
        "description": "Actual data for a specific day."
      },
      "RegionSummaryWithTimeseries": {
        "title": "RegionSummaryWithTimeseries",
        "required": [
          "fips",
          "country",
          "state",
          "level",
          "population",
          "lastUpdatedDate",
          "actualsTimeseries"
        ],
        "type": "object",
        "properties": {
          "fips": {
            "title": "Fips",
            "type": "string",
            "description": "Fips Code.  For state level data, 2 characters, for county level data, 5 characters."
          },
          "country": {
            "title": "Country",
            "type": "string",
            "description": "2-letter ISO-3166 Country code."
          },
          "state": {
            "title": "State",
            "type": "string",
            "description": "2-letter ANSI state code."
          },
          "county": {
            "title": "County",
            "type": "string",
            "description": "County name"
          },
          "level": {
            "$ref": "#/components/schemas/AggregationLevel"
          },
          "lat": {
            "title": "Lat",
            "type": "number",
            "description": "Latitude of point within the state or county"
          },
          "long": {
            "title": "Long",
            "type": "number",
            "description": "Longitude of point within the state or county"
          },
          "population": {
            "title": "Population",
            "exclusiveMinimum": false,
            "type": "integer",
            "description": "Total Population in geographic region."
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "actuals": {
            "$ref": "#/components/schemas/Actuals"
          },
          "lastUpdatedDate": {
            "title": "Lastupdateddate",
            "type": "string",
            "description": "Date of latest data",
            "format": "date"
          },
          "metricsTimeseries": {
            "title": "Metricstimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricsTimeseriesRow"
            }
          },
          "actualsTimeseries": {
            "title": "Actualstimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActualsTimeseriesRow"
            }
          }
        },
        "description": "Summary data for a region with prediction timeseries data and actual timeseries data."
      },
      "AggregateRegionSummaryWithTimeseries": {
        "title": "AggregateRegionSummaryWithTimeseries",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
        },
        "description": "Timeseries and summary data for multiple regions."
      }
    }
  },
  "tags": [
    {
      "name": "County Data",
      "description": "County level data"
    }
  ]
}