{
  "openapi": "3.0.3",
  "info": {
    "title": "Covid Act Now API",
    "description": "\nThe Covid Act Now API provides historical covid projections updated daily.\n",
    "version": "v2.0.0"
  },
  "servers": [
    {
      "url": "https://api.covidactnow.org/v2",
      "description": "Latest available data"
    }
  ],
  "paths": {
    "/county/{fips}.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Single County Summary",
        "description": "\nRegion Summary object for a single county.\n    ",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "fips",
          "in": "path",
          "description": "5 Letter County FIPS code",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{fips}.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Single County Timeseries",
        "description": "Region Summary with Timeseries for a single county.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "fips",
          "in": "path",
          "description": "5 Letter County FIPS code",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/state/{state}.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "Single State Summary",
        "description": "Region Summary object for a single state.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/state/{state}.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "Single State Timeseries",
        "description": "Region Summary with Timeseries for a single state.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/state/{state}.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "Single State Timeseries CSV",
        "description": "Region Summary with Timeseries for a single state.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsa/{cbsa_code}.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "Single CBSA Summary",
        "description": "Region Summary object for a single CBSA.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "cbsa_code",
          "in": "path",
          "description": "\n5 Letter core-based statistical area (CBSA) Code.\n\nFor a list of all CBSA codes, refer to the\n[Census.gov Delineation Files](https://www.census.gov/geographies/reference-files/time-series/demo/metro-micro/delineation-files.html)",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsa/{cbsa_code}.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "Single CBSA Timeseries",
        "description": "Region Summary with Timeseries for a single CBSA.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "cbsa_code",
          "in": "path",
          "description": "\n5 Letter core-based statistical area (CBSA) Code.\n\nFor a list of all CBSA codes, refer to the\n[Census.gov Delineation Files](https://www.census.gov/geographies/reference-files/time-series/demo/metro-micro/delineation-files.html)",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/country/US.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "Country Data"
        ],
        "summary": "US Summary",
        "description": "Region Summary object for US.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/country/US.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "Country Data"
        ],
        "summary": "US Timeseries",
        "description": "Region Summary with Timeseries for US.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/country/US.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "Country Data"
        ],
        "summary": "US Timeseries CSV",
        "description": "Region Summary with Timeseries for US.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/states.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "All states summary (json)",
        "description": "Region Summaries for all states",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/states.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "All states summary (csv)",
        "description": "Region Summaries for all states",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/states.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "All states timeseries",
        "description": "Region summaries with timeseries for all states",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/states.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "State Data"
        ],
        "summary": "All states timeseries (csv)",
        "description": "Region summaries with timeseries for all states",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateFlattenedTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/counties.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "All counties summary (json)",
        "description": "Region Summaries for all counties",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/counties.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "All counties summary (csv)",
        "description": "Region Summaries for all counties",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/counties.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "All counties timeseries",
        "description": "Region summaries with timeseries for all counties",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/counties.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "All counties timeseries (csv)",
        "description": "Region summaries with timeseries for all counties",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateFlattenedTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{state}.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Counties summary in state (json)",
        "description": "Region summaries for all counties in a state",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{state}.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Counties summary in state (csv)",
        "description": "Region summaries for all counties in a state",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{state}.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Counties timeseries in state",
        "description": "Region summaries with timeseries for all counties in a state",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/county/{state}.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "County Data"
        ],
        "summary": "Counties timeseries in state (csv)",
        "description": "Region summaries with timeseries for all counties in a state",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateFlattenedTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "state",
          "in": "path",
          "description": "2 Letter State Cocde",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsas.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "All CBSAs summary (json)",
        "description": "Region Summaries for all CBSAs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsas.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "All CBSAs summary (csv)",
        "description": "Region Summaries for all CBSAs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummary"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsas.timeseries.json?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "All CBSAs timeseries",
        "description": "Region summaries with timeseries for all CBSAs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateRegionSummaryWithTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cbsas.timeseries.csv?apiKey={apiKey}": {
      "get": {
        "tags": [
          "CBSA Data"
        ],
        "summary": "All CBSAs timeseries (csv)",
        "description": "Region summaries with timeseries for all CBSAs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateFlattenedTimeseries"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "apiKey",
          "in": "query",
          "required": true,
          "deprecated": false,
          "allowEmptyValue": false,
          "explode": false,
          "allowReserved": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "HospitalResourceUtilization": {
        "title": "HospitalResourceUtilization",
        "required": [
          "capacity",
          "currentUsageTotal",
          "currentUsageCovid"
        ],
        "type": "object",
        "properties": {
          "capacity": {
            "title": "Capacity",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Total capacity for resource."
          },
          "currentUsageTotal": {
            "title": "Currentusagetotal",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Currently used capacity for resource by all patients (COVID + Non-COVID)"
          },
          "currentUsageCovid": {
            "title": "Currentusagecovid",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Currently used capacity for resource by COVID "
          }
        },
        "description": "Base model for API output."
      },
      "DemographicDistributions": {
        "title": "DemographicDistributions",
        "type": "object",
        "properties": {
          "age": {
            "title": "Age",
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "additionalProperties": {
              "type": "integer"
            }
          },
          "race": {
            "title": "Race",
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ethnicity": {
            "title": "Ethnicity",
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "additionalProperties": {
              "type": "integer"
            }
          },
          "sex": {
            "title": "Sex",
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "additionalProperties": {
              "type": "integer"
            }
          }
        },
        "description": "Distributions of demographic data.\n\nNote that different regions may have different demographic distributions for\nthe same field.  For instance, health departments in different states may report\ndifferent age ranges.\n\nThe data provided matches the source distributions."
      },
      "Actuals": {
        "title": "Actuals",
        "required": [
          "cases",
          "deaths",
          "positiveTests",
          "negativeTests",
          "contactTracers",
          "hospitalBeds",
          "icuBeds",
          "newCases",
          "newDeaths"
        ],
        "type": "object",
        "properties": {
          "cases": {
            "title": "Cases",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative confirmed or suspected cases."
          },
          "deaths": {
            "title": "Deaths",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative deaths that are suspected or confirmed to have been caused by COVID-19."
          },
          "positiveTests": {
            "title": "Positivetests",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative positive test results to date"
          },
          "negativeTests": {
            "title": "Negativetests",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative negative test results to date"
          },
          "contactTracers": {
            "title": "Contacttracers",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of Contact Tracers"
          },
          "hospitalBeds": {
            "title": "Hospitalbeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "\nInformation about acute bed utilization details.\n\nFields:\n * capacity - Current staffed acute bed capacity.\n * currentUsageTotal - Total number of acute beds currently in use\n * currentUsageCovid - Number of acute beds currently in use by COVID patients.\n"
          },
          "icuBeds": {
            "title": "Icubeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "\nInformation about ICU bed utilization details.\n\nFields:\n * capacity - Current staffed ICU bed capacity.\n * currentUsageTotal - Total number of ICU beds currently in use\n * currentUsageCovid - Number of ICU beds currently in use by COVID patients.\n"
          },
          "newCases": {
            "title": "Newcases",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNew confirmed or suspected cases.\n\n\nNew cases are a processed timeseries of cases - summing new cases may not equal\nthe cumulative case count.\n\nProcessing steps:\n 1. If a region does not report cases for a period of time but then begins reporting again,\n    we will exclude the first day that reporting recommences. This first day likely includes\n    multiple days worth of cases and can be misleading to the overall series.\n 2. We remove any days with negative new cases.\n 3. We apply an outlier detection filter to the timeseries, which removes any data\n    points that seem improbable given recent numbers. Many times this is due to\n    backfill of previously unreported cases.\n"
          },
          "newDeaths": {
            "title": "Newdeaths",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNew confirmed or suspected COVID-19 deaths.\n\nNew deaths is an estimate of deaths per day; summing new deaths may not equal the\ncumulative death count.\n\nProcessing steps:\n 1. If a region does not report deaths for a period of time but then begins reporting again,\n    we will exclude the first day that reporting recommences. This first day likely includes\n    multiple days worth of deaths and can be misleading to the overall series.\n 2. We remove any days with negative new deaths.\n 3. We apply an outlier detection filter to the timeseries, which removes any data\n    points that seem improbable given recent numbers. Many times this is due to\n    backfill of previously unreported deaths.\n"
          },
          "vaccinesDistributed": {
            "title": "Vaccinesdistributed",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of vaccine doses distributed."
          },
          "vaccinationsInitiated": {
            "title": "Vaccinationsinitiated",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNumber of vaccinations initiated.\n\nThis value may vary by type of vaccine, but for Moderna and Pfizer this indicates\nnumber of people vaccinated with the first dose.\n"
          },
          "vaccinationsCompleted": {
            "title": "Vaccinationscompleted",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNumber of vaccinations completed.\n\nThis value may vary by type of vaccine, but for Moderna and Pfizer this indicates\nnumber of people vaccinated with both the first and second dose.\n"
          },
          "vaccinationsAdditionalDose": {
            "title": "Vaccinationsadditionaldose",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of individuals who are fully vaccinated and have received a booster (or additional) dose."
          },
          "vaccinesAdministered": {
            "title": "Vaccinesadministered",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Total number of vaccine doses administered."
          },
          "vaccinesAdministeredDemographics": {
            "title": "Vaccinesadministereddemographics",
            "allOf": [
              {
                "$ref": "#/components/schemas/DemographicDistributions"
              }
            ],
            "description": "Demographic distributions for administered vaccines."
          },
          "vaccinationsInitiatedDemographics": {
            "title": "Vaccinationsinitiateddemographics",
            "allOf": [
              {
                "$ref": "#/components/schemas/DemographicDistributions"
              }
            ],
            "description": "Demographic distributions for initiated vaccinations."
          }
        },
        "description": "Known actuals data."
      },
      "TestPositivityRatioMethod": {
        "title": "TestPositivityRatioMethod",
        "enum": [
          "CMSTesting",
          "CDCTesting",
          "HHSTesting",
          "Valorum",
          "covid_tracking",
          "other"
        ],
        "description": "Method used to determine test positivity ratio."
      },
      "TestPositivityRatioDetails": {
        "title": "TestPositivityRatioDetails",
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TestPositivityRatioMethod"
              }
            ],
            "description": "Source data for test positivity ratio."
          }
        },
        "description": "Details about how the test positivity ratio was calculated."
      },
      "Metrics": {
        "title": "Metrics",
        "required": [
          "testPositivityRatio",
          "caseDensity",
          "weeklyNewCasesPer100k",
          "contactTracerCapacityRatio",
          "infectionRate",
          "infectionRateCI90",
          "icuCapacityRatio"
        ],
        "type": "object",
        "properties": {
          "testPositivityRatio": {
            "title": "Testpositivityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of people who test positive calculated using a 7-day rolling average."
          },
          "testPositivityRatioDetails": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestPositivityRatioDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "caseDensity": {
            "title": "Casedensity",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The number of cases per 100k population calculated using a 7-day rolling average."
          },
          "weeklyNewCasesPer100k": {
            "title": "Weeklynewcasesper100K",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The number of new cases per 100k population over the last week."
          },
          "contactTracerCapacityRatio": {
            "title": "Contacttracercapacityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of currently hired tracers to estimated tracers needed based on 7-day daily case average."
          },
          "infectionRate": {
            "title": "Infectionrate",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "R_t, or the estimated number of infections arising from a typical case."
          },
          "infectionRateCI90": {
            "title": "Infectionrateci90",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "90th percentile confidence interval upper endpoint of the infection rate."
          },
          "icuCapacityRatio": {
            "title": "Icucapacityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of staffed intensive care unit (ICU) beds that are currently in use."
          },
          "vaccinationsInitiatedRatio": {
            "title": "Vaccinationsinitiatedratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that has initiated vaccination."
          },
          "vaccinationsCompletedRatio": {
            "title": "Vaccinationscompletedratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that has completed vaccination."
          },
          "vaccinationsAdditionalDoseRatio": {
            "title": "Vaccinationsadditionaldoseratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that are fully vaccinated and have received a booster (or additional) dose."
          }
        },
        "description": "Calculated metrics data based on known actuals."
      },
      "RiskLevel": {
        "title": "RiskLevel",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5
        ],
        "description": "COVID Risk Level.\n\n## Risk Level Definitions\n *Low* - On track to contain COVID\n *Medium* - Slow disease growth\n *High* - At risk of outbreak\n *Critical* - Active or imminent outbreak\n *Unknown* - Risk unknown\n *Extreme* - Severe outbreak"
      },
      "RiskLevelsRow": {
        "title": "RiskLevelsRow",
        "required": [
          "overall",
          "caseDensity"
        ],
        "type": "object",
        "properties": {
          "overall": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Overall risk level for region."
          },
          "caseDensity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Case density risk level for region."
          }
        },
        "description": "Base model for API output."
      },
      "CDCTransmissionLevel": {
        "title": "CDCTransmissionLevel",
        "enum": [
          0,
          1,
          2,
          3,
          4
        ],
        "description": "CDC community transmission level."
      },
      "RegionTimeseriesRowWithHeader": {
        "title": "RegionTimeseriesRowWithHeader",
        "required": [
          "date",
          "country",
          "state",
          "county",
          "fips",
          "lat",
          "long",
          "locationId",
          "actuals",
          "metrics",
          "riskLevels",
          "cdcTransmissionLevel"
        ],
        "type": "object",
        "properties": {
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          },
          "country": {
            "title": "Country",
            "type": "string",
            "description": "2-letter ISO-3166 Country code."
          },
          "state": {
            "title": "State",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "2-letter ANSI state code."
          },
          "county": {
            "title": "County",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "County name"
          },
          "fips": {
            "title": "Fips",
            "type": "string",
            "description": "FIPS Code. FIPS codes are either 2-digit state codes, 5-digit county codes, 5-digit CBSA codes, or 1-digit '0' for the entire USA."
          },
          "lat": {
            "title": "Lat",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Latitude of point within the state or county"
          },
          "long": {
            "title": "Long",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Longitude of point within the state or county"
          },
          "locationId": {
            "title": "Locationid",
            "type": "string",
            "description": "Location ID as defined here: https://github.com/covidatlas/li/blob/master/docs/reports-v1.md#general-notes"
          },
          "actuals": {
            "title": "Actuals",
            "allOf": [
              {
                "$ref": "#/components/schemas/Actuals"
              }
            ],
            "description": "Actuals for given day"
          },
          "metrics": {
            "title": "Metrics",
            "allOf": [
              {
                "$ref": "#/components/schemas/Metrics"
              }
            ],
            "description": "Metrics for given day"
          },
          "riskLevels": {
            "title": "Risklevels",
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevelsRow"
              }
            ],
            "description": "Risk Levels for given day"
          },
          "cdcTransmissionLevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CDCTransmissionLevel"
              }
            ],
            "description": "\nCommunity transmission level for region, calculated using the CDC definition.\n\nPossible values:\n    - 0: Low\n    - 1: Moderate\n    - 2: Substantial\n    - 3: High\n    - 4: Unknown\n\nSee [definitions of CDC community transmission levels](\nhttps://covid.cdc.gov/covid-data-tracker/#cases_community) for more\ndetails.\n\nNote that the value may differ from what the CDC website reports\ngiven we have different data sources. We have also introduced an\n\"Unknown\" level for when both case data and test positivity data are\nmissing for at least 15 days. The CDC does not have an \"Unknown\"\nlevel and instead will designate a location as \"Low\" when case and\ntest positivity data are missing.\n"
          }
        },
        "description": "Prediction timeseries row with location information."
      },
      "AggregateFlattenedTimeseries": {
        "title": "AggregateFlattenedTimeseries",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RegionTimeseriesRowWithHeader"
        },
        "description": "Flattened timeseries data for multiple regions."
      },
      "AggregationLevel": {
        "title": "AggregationLevel",
        "enum": [
          "country",
          "state",
          "county",
          "cbsa",
          "place"
        ],
        "description": "An enumeration."
      },
      "RiskLevels": {
        "title": "RiskLevels",
        "required": [
          "overall",
          "testPositivityRatio",
          "caseDensity",
          "contactTracerCapacityRatio",
          "infectionRate",
          "icuCapacityRatio"
        ],
        "type": "object",
        "properties": {
          "overall": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Overall risk level for region."
          },
          "testPositivityRatio": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Test positivity ratio risk level."
          },
          "caseDensity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Case density risk level."
          },
          "contactTracerCapacityRatio": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Contact tracer capacity ratio risk level."
          },
          "infectionRate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Infection rate risk level."
          },
          "icuCapacityRatio": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "ICU capacity ratio risk level."
          }
        },
        "description": "COVID risk levels for a region."
      },
      "FieldSourceType": {
        "title": "FieldSourceType",
        "enum": [
          "NYTimes",
          "CMSTesting",
          "CDCTesting",
          "HHSTesting",
          "HHSHospital",
          "Valorum",
          "covid_tracking",
          "USAFacts",
          "TestAndTrace",
          "CANScrapersStateProviders",
          "other"
        ],
        "description": "The data source of a field (metric or actual). This enumeration lists the places from which\nCAN fetches data. The source is tracked on a per field and region timeseries basis."
      },
      "FieldSource": {
        "title": "FieldSource",
        "type": "object",
        "properties": {
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldSourceType"
              }
            ],
            "description": "The type of data source from a CAN list of data source types"
          },
          "url": {
            "title": "Url",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL of a webpage containing the data at the source"
          },
          "name": {
            "title": "Name",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "A human readable name of the source"
          }
        },
        "description": "Base model for API output."
      },
      "TagType": {
        "title": "TagType",
        "enum": [
          "cumulative_tail_truncated",
          "cumulative_long_tail_truncated",
          "zscore_outlier",
          "known_issue",
          "known_issue_no_date",
          "derived",
          "drop_future_observation",
          "provenance",
          "source_url",
          "source"
        ],
        "type": "string",
        "description": "The type of the annotation.\n\nEach enumeration refers to the method used to generate the annotation."
      },
      "AnomalyAnnotation": {
        "title": "AnomalyAnnotation",
        "required": [
          "date",
          "type",
          "original_observation"
        ],
        "type": "object",
        "properties": {
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of anomaly",
            "format": "date"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TagType"
              }
            ],
            "description": "Type of annotation"
          },
          "original_observation": {
            "title": "Original Observation",
            "type": "number",
            "description": "Original value on this date detected as anomalous."
          }
        },
        "description": "Base model for API output."
      },
      "FieldAnnotations": {
        "title": "FieldAnnotations",
        "required": [
          "sources",
          "anomalies"
        ],
        "type": "object",
        "properties": {
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldSource"
            }
          },
          "anomalies": {
            "title": "Anomalies",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnomalyAnnotation"
            }
          }
        },
        "description": "Annotations associated with one field."
      },
      "Annotations": {
        "title": "Annotations",
        "type": "object",
        "properties": {
          "cases": {
            "title": "Cases",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for cases"
          },
          "deaths": {
            "title": "Deaths",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for deaths"
          },
          "positiveTests": {
            "title": "Positivetests",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for positiveTests"
          },
          "negativeTests": {
            "title": "Negativetests",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for negativeTests"
          },
          "contactTracers": {
            "title": "Contacttracers",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for contactTracers"
          },
          "hospitalBeds": {
            "title": "Hospitalbeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for hospitalBeds"
          },
          "icuBeds": {
            "title": "Icubeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for icuBeds"
          },
          "newCases": {
            "title": "Newcases",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for newCases"
          },
          "newDeaths": {
            "title": "Newdeaths",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for newDeaths"
          },
          "vaccinesDistributed": {
            "title": "Vaccinesdistributed",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinesDistributed"
          },
          "vaccinationsInitiated": {
            "title": "Vaccinationsinitiated",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinationsInitiated"
          },
          "vaccinationsCompleted": {
            "title": "Vaccinationscompleted",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinationsCompleted"
          },
          "vaccinationsAdditionalDose": {
            "title": "Vaccinationsadditionaldose",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinationsAdditionalDose"
          },
          "vaccinesAdministered": {
            "title": "Vaccinesadministered",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinesAdministered"
          },
          "testPositivityRatio": {
            "title": "Testpositivityratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for testPositivityRatio"
          },
          "caseDensity": {
            "title": "Casedensity",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for caseDensity"
          },
          "weeklyNewCasesPer100k": {
            "title": "Weeklynewcasesper100K",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for weeklyNewCasesPer100k"
          },
          "contactTracerCapacityRatio": {
            "title": "Contacttracercapacityratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for contactTracerCapacityRatio"
          },
          "infectionRate": {
            "title": "Infectionrate",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for infectionRate"
          },
          "infectionRateCI90": {
            "title": "Infectionrateci90",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for infectionRateCI90"
          },
          "icuCapacityRatio": {
            "title": "Icucapacityratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for icuCapacityRatio"
          },
          "vaccinationsInitiatedRatio": {
            "title": "Vaccinationsinitiatedratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinationsInitiatedRatio"
          },
          "vaccinationsCompletedRatio": {
            "title": "Vaccinationscompletedratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Annotations for vaccinationsCompletedRatio"
          },
          "vaccinationsAdditionalDoseRatio": {
            "title": "Vaccinationsadditionaldoseratio",
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldAnnotations"
              }
            ],
            "description": "Ratio of population that are fully vaccinated and have received a booster (or additional) dose."
          }
        },
        "description": "Annotations for each field."
      },
      "RegionSummary": {
        "title": "RegionSummary",
        "required": [
          "fips",
          "country",
          "state",
          "county",
          "hsa",
          "level",
          "lat",
          "locationId",
          "long",
          "population",
          "hsaPopulation",
          "metrics",
          "riskLevels",
          "cdcTransmissionLevel",
          "actuals",
          "annotations",
          "lastUpdatedDate",
          "url"
        ],
        "type": "object",
        "properties": {
          "fips": {
            "title": "Fips",
            "type": "string",
            "description": "FIPS Code. FIPS codes are either 2-digit state codes, 5-digit county codes, 5-digit CBSA codes, or 1-digit '0' for the entire USA."
          },
          "country": {
            "title": "Country",
            "type": "string",
            "description": "2-letter ISO-3166 Country code."
          },
          "state": {
            "title": "State",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "2-letter ANSI state code. For CBSA regions, state is omitted."
          },
          "county": {
            "title": "County",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "County name"
          },
          "hsa": {
            "title": "Hsa",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "3 digit Health Service Area identification code. For CBSA, state, and country regions hsa is omitted. For more on HSAs see: https://github.com/covid-projections/covid-data-model/blob/main/data/misc/README.md"
          },
          "level": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AggregationLevel"
              }
            ],
            "description": "Level of region."
          },
          "lat": {
            "title": "Lat",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Latitude of point within the state or county. Currently a placeholder."
          },
          "locationId": {
            "title": "Locationid",
            "type": "string",
            "description": "Location ID as defined here: https://github.com/covidatlas/li/blob/master/docs/reports-v1.md#general-notes"
          },
          "long": {
            "title": "Long",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Longitude of point within the state or county. Currently a placeholder."
          },
          "population": {
            "title": "Population",
            "exclusiveMinimum": false,
            "type": "integer",
            "description": "Total Population in geographic region."
          },
          "hsaPopulation": {
            "title": "Hsapopulation",
            "exclusiveMinimum": false,
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Total Population of county's corresponding Health Service Area. For CBSA, state, and country regions hsaPopulation is omitted. For more on HSAs see: https://github.com/covid-projections/covid-data-model/blob/main/data/misc/README.md"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "riskLevels": {
            "title": "Risklevels",
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevels"
              }
            ],
            "description": "Risk levels for region."
          },
          "cdcTransmissionLevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CDCTransmissionLevel"
              }
            ],
            "description": "\nCommunity transmission level for region, calculated using the CDC definition.\n\nPossible values:\n    - 0: Low\n    - 1: Moderate\n    - 2: Substantial\n    - 3: High\n    - 4: Unknown\n\nSee [definitions of CDC community transmission levels](\nhttps://covid.cdc.gov/covid-data-tracker/#cases_community) for more\ndetails.\n\nNote that the value may differ from what the CDC website reports\ngiven we have different data sources. We have also introduced an\n\"Unknown\" level for when both case data and test positivity data are\nmissing for at least 15 days. The CDC does not have an \"Unknown\"\nlevel and instead will designate a location as \"Low\" when case and\ntest positivity data are missing.\n"
          },
          "actuals": {
            "$ref": "#/components/schemas/Actuals"
          },
          "annotations": {
            "$ref": "#/components/schemas/Annotations"
          },
          "lastUpdatedDate": {
            "title": "Lastupdateddate",
            "type": "string",
            "description": "Date of latest data",
            "format": "date"
          },
          "url": {
            "title": "Url",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL linking to Covid Act Now location page."
          }
        },
        "description": "Summary of actual and prediction data for a single region."
      },
      "AggregateRegionSummary": {
        "title": "AggregateRegionSummary",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RegionSummary"
        },
        "description": "Summary data for multiple regions."
      },
      "MetricsTimeseriesRow": {
        "title": "MetricsTimeseriesRow",
        "required": [
          "testPositivityRatio",
          "caseDensity",
          "weeklyNewCasesPer100k",
          "contactTracerCapacityRatio",
          "infectionRate",
          "infectionRateCI90",
          "icuCapacityRatio",
          "date"
        ],
        "type": "object",
        "properties": {
          "testPositivityRatio": {
            "title": "Testpositivityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of people who test positive calculated using a 7-day rolling average."
          },
          "testPositivityRatioDetails": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestPositivityRatioDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "caseDensity": {
            "title": "Casedensity",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The number of cases per 100k population calculated using a 7-day rolling average."
          },
          "weeklyNewCasesPer100k": {
            "title": "Weeklynewcasesper100K",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The number of new cases per 100k population over the last week."
          },
          "contactTracerCapacityRatio": {
            "title": "Contacttracercapacityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of currently hired tracers to estimated tracers needed based on 7-day daily case average."
          },
          "infectionRate": {
            "title": "Infectionrate",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "R_t, or the estimated number of infections arising from a typical case."
          },
          "infectionRateCI90": {
            "title": "Infectionrateci90",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "90th percentile confidence interval upper endpoint of the infection rate."
          },
          "icuCapacityRatio": {
            "title": "Icucapacityratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of staffed intensive care unit (ICU) beds that are currently in use."
          },
          "vaccinationsInitiatedRatio": {
            "title": "Vaccinationsinitiatedratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that has initiated vaccination."
          },
          "vaccinationsCompletedRatio": {
            "title": "Vaccinationscompletedratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that has completed vaccination."
          },
          "vaccinationsAdditionalDoseRatio": {
            "title": "Vaccinationsadditionaldoseratio",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ratio of population that are fully vaccinated and have received a booster (or additional) dose."
          },
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          }
        },
        "description": "Metrics data for a specific day."
      },
      "ActualsTimeseriesRow": {
        "title": "ActualsTimeseriesRow",
        "required": [
          "cases",
          "deaths",
          "positiveTests",
          "negativeTests",
          "contactTracers",
          "hospitalBeds",
          "icuBeds",
          "newCases",
          "newDeaths",
          "date"
        ],
        "type": "object",
        "properties": {
          "cases": {
            "title": "Cases",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative confirmed or suspected cases."
          },
          "deaths": {
            "title": "Deaths",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative deaths that are suspected or confirmed to have been caused by COVID-19."
          },
          "positiveTests": {
            "title": "Positivetests",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative positive test results to date"
          },
          "negativeTests": {
            "title": "Negativetests",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cumulative negative test results to date"
          },
          "contactTracers": {
            "title": "Contacttracers",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of Contact Tracers"
          },
          "hospitalBeds": {
            "title": "Hospitalbeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "\nInformation about acute bed utilization details.\n\nFields:\n * capacity - Current staffed acute bed capacity.\n * currentUsageTotal - Total number of acute beds currently in use\n * currentUsageCovid - Number of acute beds currently in use by COVID patients.\n"
          },
          "icuBeds": {
            "title": "Icubeds",
            "allOf": [
              {
                "$ref": "#/components/schemas/HospitalResourceUtilization"
              }
            ],
            "description": "\nInformation about ICU bed utilization details.\n\nFields:\n * capacity - Current staffed ICU bed capacity.\n * currentUsageTotal - Total number of ICU beds currently in use\n * currentUsageCovid - Number of ICU beds currently in use by COVID patients.\n"
          },
          "newCases": {
            "title": "Newcases",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNew confirmed or suspected cases.\n\n\nNew cases are a processed timeseries of cases - summing new cases may not equal\nthe cumulative case count.\n\nProcessing steps:\n 1. If a region does not report cases for a period of time but then begins reporting again,\n    we will exclude the first day that reporting recommences. This first day likely includes\n    multiple days worth of cases and can be misleading to the overall series.\n 2. We remove any days with negative new cases.\n 3. We apply an outlier detection filter to the timeseries, which removes any data\n    points that seem improbable given recent numbers. Many times this is due to\n    backfill of previously unreported cases.\n"
          },
          "newDeaths": {
            "title": "Newdeaths",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNew confirmed or suspected COVID-19 deaths.\n\nNew deaths is an estimate of deaths per day; summing new deaths may not equal the\ncumulative death count.\n\nProcessing steps:\n 1. If a region does not report deaths for a period of time but then begins reporting again,\n    we will exclude the first day that reporting recommences. This first day likely includes\n    multiple days worth of deaths and can be misleading to the overall series.\n 2. We remove any days with negative new deaths.\n 3. We apply an outlier detection filter to the timeseries, which removes any data\n    points that seem improbable given recent numbers. Many times this is due to\n    backfill of previously unreported deaths.\n"
          },
          "vaccinesDistributed": {
            "title": "Vaccinesdistributed",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of vaccine doses distributed."
          },
          "vaccinationsInitiated": {
            "title": "Vaccinationsinitiated",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNumber of vaccinations initiated.\n\nThis value may vary by type of vaccine, but for Moderna and Pfizer this indicates\nnumber of people vaccinated with the first dose.\n"
          },
          "vaccinationsCompleted": {
            "title": "Vaccinationscompleted",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "\nNumber of vaccinations completed.\n\nThis value may vary by type of vaccine, but for Moderna and Pfizer this indicates\nnumber of people vaccinated with both the first and second dose.\n"
          },
          "vaccinationsAdditionalDose": {
            "title": "Vaccinationsadditionaldose",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Number of individuals who are fully vaccinated and have received a booster (or additional) dose."
          },
          "vaccinesAdministered": {
            "title": "Vaccinesadministered",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Total number of vaccine doses administered."
          },
          "vaccinesAdministeredDemographics": {
            "title": "Vaccinesadministereddemographics",
            "allOf": [
              {
                "$ref": "#/components/schemas/DemographicDistributions"
              }
            ],
            "description": "Demographic distributions for administered vaccines."
          },
          "vaccinationsInitiatedDemographics": {
            "title": "Vaccinationsinitiateddemographics",
            "allOf": [
              {
                "$ref": "#/components/schemas/DemographicDistributions"
              }
            ],
            "description": "Demographic distributions for initiated vaccinations."
          },
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          }
        },
        "description": "Actual data for a specific day."
      },
      "RiskLevelTimeseriesRow": {
        "title": "RiskLevelTimeseriesRow",
        "required": [
          "overall",
          "caseDensity",
          "date"
        ],
        "type": "object",
        "properties": {
          "overall": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Overall risk level for region."
          },
          "caseDensity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevel"
              }
            ],
            "description": "Case density risk level for region."
          },
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          }
        },
        "description": "Timeseries data for risk levels. Currently only surfacing overall risk level for region."
      },
      "CdcTransmissionLevelTimeseriesRow": {
        "title": "CdcTransmissionLevelTimeseriesRow",
        "required": [
          "date",
          "cdcTransmissionLevel"
        ],
        "type": "object",
        "properties": {
          "date": {
            "title": "Date",
            "type": "string",
            "description": "Date of timeseries data point",
            "format": "date"
          },
          "cdcTransmissionLevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CDCTransmissionLevel"
              }
            ],
            "description": "\nCommunity transmission level for region, calculated using the CDC definition.\n\nPossible values:\n    - 0: Low\n    - 1: Moderate\n    - 2: Substantial\n    - 3: High\n    - 4: Unknown\n\nSee [definitions of CDC community transmission levels](\nhttps://covid.cdc.gov/covid-data-tracker/#cases_community) for more\ndetails.\n\nNote that the value may differ from what the CDC website reports\ngiven we have different data sources. We have also introduced an\n\"Unknown\" level for when both case data and test positivity data are\nmissing for at least 15 days. The CDC does not have an \"Unknown\"\nlevel and instead will designate a location as \"Low\" when case and\ntest positivity data are missing.\n"
          }
        },
        "description": "Base model for API output."
      },
      "RegionSummaryWithTimeseries": {
        "title": "RegionSummaryWithTimeseries",
        "required": [
          "fips",
          "country",
          "state",
          "county",
          "hsa",
          "level",
          "lat",
          "locationId",
          "long",
          "population",
          "hsaPopulation",
          "metrics",
          "riskLevels",
          "cdcTransmissionLevel",
          "actuals",
          "annotations",
          "lastUpdatedDate",
          "url",
          "metricsTimeseries",
          "actualsTimeseries",
          "riskLevelsTimeseries",
          "cdcTransmissionLevelTimeseries"
        ],
        "type": "object",
        "properties": {
          "fips": {
            "title": "Fips",
            "type": "string",
            "description": "FIPS Code. FIPS codes are either 2-digit state codes, 5-digit county codes, 5-digit CBSA codes, or 1-digit '0' for the entire USA."
          },
          "country": {
            "title": "Country",
            "type": "string",
            "description": "2-letter ISO-3166 Country code."
          },
          "state": {
            "title": "State",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "2-letter ANSI state code. For CBSA regions, state is omitted."
          },
          "county": {
            "title": "County",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "County name"
          },
          "hsa": {
            "title": "Hsa",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "3 digit Health Service Area identification code. For CBSA, state, and country regions hsa is omitted. For more on HSAs see: https://github.com/covid-projections/covid-data-model/blob/main/data/misc/README.md"
          },
          "level": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AggregationLevel"
              }
            ],
            "description": "Level of region."
          },
          "lat": {
            "title": "Lat",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Latitude of point within the state or county. Currently a placeholder."
          },
          "locationId": {
            "title": "Locationid",
            "type": "string",
            "description": "Location ID as defined here: https://github.com/covidatlas/li/blob/master/docs/reports-v1.md#general-notes"
          },
          "long": {
            "title": "Long",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Longitude of point within the state or county. Currently a placeholder."
          },
          "population": {
            "title": "Population",
            "exclusiveMinimum": false,
            "type": "integer",
            "description": "Total Population in geographic region."
          },
          "hsaPopulation": {
            "title": "Hsapopulation",
            "exclusiveMinimum": false,
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Total Population of county's corresponding Health Service Area. For CBSA, state, and country regions hsaPopulation is omitted. For more on HSAs see: https://github.com/covid-projections/covid-data-model/blob/main/data/misc/README.md"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "riskLevels": {
            "title": "Risklevels",
            "allOf": [
              {
                "$ref": "#/components/schemas/RiskLevels"
              }
            ],
            "description": "Risk levels for region."
          },
          "cdcTransmissionLevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CDCTransmissionLevel"
              }
            ],
            "description": "\nCommunity transmission level for region, calculated using the CDC definition.\n\nPossible values:\n    - 0: Low\n    - 1: Moderate\n    - 2: Substantial\n    - 3: High\n    - 4: Unknown\n\nSee [definitions of CDC community transmission levels](\nhttps://covid.cdc.gov/covid-data-tracker/#cases_community) for more\ndetails.\n\nNote that the value may differ from what the CDC website reports\ngiven we have different data sources. We have also introduced an\n\"Unknown\" level for when both case data and test positivity data are\nmissing for at least 15 days. The CDC does not have an \"Unknown\"\nlevel and instead will designate a location as \"Low\" when case and\ntest positivity data are missing.\n"
          },
          "actuals": {
            "$ref": "#/components/schemas/Actuals"
          },
          "annotations": {
            "$ref": "#/components/schemas/Annotations"
          },
          "lastUpdatedDate": {
            "title": "Lastupdateddate",
            "type": "string",
            "description": "Date of latest data",
            "format": "date"
          },
          "url": {
            "title": "Url",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL linking to Covid Act Now location page."
          },
          "metricsTimeseries": {
            "title": "Metricstimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricsTimeseriesRow"
            }
          },
          "actualsTimeseries": {
            "title": "Actualstimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActualsTimeseriesRow"
            }
          },
          "riskLevelsTimeseries": {
            "title": "Risklevelstimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskLevelTimeseriesRow"
            }
          },
          "cdcTransmissionLevelTimeseries": {
            "title": "Cdctransmissionleveltimeseries",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CdcTransmissionLevelTimeseriesRow"
            }
          }
        },
        "description": "Summary data for a region with prediction timeseries data and actual timeseries data."
      },
      "AggregateRegionSummaryWithTimeseries": {
        "title": "AggregateRegionSummaryWithTimeseries",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RegionSummaryWithTimeseries"
        },
        "description": "Timeseries and summary data for multiple regions."
      }
    },
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "description": "\nAn API key is required.\n\nRegister for an API key [here](/#register).\n    ",
        "name": "apiKey",
        "in": "query"
      }
    }
  },
  "tags": [
    {
      "name": "County Data",
      "description": "County level data for all US counties."
    },
    {
      "name": "State Data",
      "description": "State level data for all US states + Puerto Rico and Northern Mariana Islands."
    },
    {
      "name": "CBSA Data",
      "description": "\nAggregated data for all [core-based statistical areas\n(CBSA)](https://en.wikipedia.org/wiki/Core-based_statistical_area).\n\nCBSAs represent collections of counties that are socioeconomically linked.\n\nThey are used to represent metropolitan and micropolitan (at least 10,000 people\nand fewer than 50,000 people) areas.\n\nFor example, the Seattle-Tacoma-Bellevue, WA CBSA is an aggregation of King County,\nPierce County, and Snohomish County.\n\nCBSAs are currently in beta and may not contain all metrics or data.\n"
    },
    {
      "name": "Actuals",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Actuals\" showReadOnly={true} showWriteOnly={true} />"
    },
    {
      "name": "Metrics",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Metrics\" showReadOnly={true} showWriteOnly={true} />"
    },
    {
      "name": "RiskLevels",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/RiskLevels\" showReadOnly={true} showWriteOnly={true} />"
    },
    {
      "name": "RegionSummary",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/RegionSummary\" showReadOnly={true} showWriteOnly={true} />"
    },
    {
      "name": "RegionSummaryWithTimeseries",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/RegionSummaryWithTimeseries\" showReadOnly={true} showWriteOnly={true} />"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Endpoints",
      "tags": [
        "State Data",
        "County Data",
        "CBSA Data",
        "Country Data"
      ]
    },
    {
      "name": "Models",
      "tags": [
        "Actuals",
        "Metrics",
        "RiskLevels",
        "RegionSummary",
        "RegionSummaryWithTimeseries"
      ]
    }
  ]
}