data/*.csv filter=lfs diff=lfs merge=lfs -text
data/*.gz filter=lfs diff=lfs merge=lfs -text
data/*.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/test-combined-*.csv filter=lfs diff=lfs merge=lfs -text
