[TYPECHECK]
# Pydantic seems to fail the type check error because
# it fails to find BaseModel, unclear what the issue
# is as it pydantic.BaseModel definitely exists.
ignored-modules=pydantic
ignore=src

# The following options disable all errors and only enable ones we want to track.
disable=all

# To enable linting for more warnings, add to this list here.
enable=E,
       F,
       unused-import

[MESSAGES CONTROL]
# Pandas threw a lot of false positives relating to , so we disable them here.
# E1136: unsubscriptable-object (E.g. df['col'] would throw, despite being valid)
# E1137: unsupported-assignment-operation (E.g. df['col'] = 1 would throw)
# Seemingly related to https://github.com/pylint-dev/pylint/issues/6942
disable=E1136,E1137
