# Requirements file containing packages needed for testing.
# These should *not* be installed in non-test environments.

pytest
pytest-pylint
pytest-xdist
pytest-mock 
black==19.10b0
nbstripout
pylint
pre-commit
identify
temppathlib
freezegun
