# To debug, it's recommended you modify / use the version in the test-actions repo:
# https://github.com/covid-projections/test-actions/blob/master/.github/workflows/deploy_api.yml

name: Build & Publish API artifacts to data.covidactnow.org

on:
  # covid-data-public fetches data at 00:00 and 12:00 UTC.
  # So we rebuild / publish the API at 00:30 and 12:30 UTC.
  schedule:
   - cron: '30 0,12 * * *'

  push:
  # Hook to trigger a manual run.
  # See: https://goobar.io/2019/12/07/manually-trigger-a-github-actions-workflow/
  repository_dispatch:
    types: publish-api

jobs:
  execute-model:
    runs-on: self-hosted
    env:
      # To pin to an old data set or model code, put the branch/tag/commit here:
      COVID_DATA_PUBLIC_REF: 'master'
      # !!! Change this to your BRANCH if you want to test it
      COVID_DATA_MODEL_REF: 'fridiculous/add-artifacts'

    steps:
    - name: Checkout covid-data-model
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-model
        path: covid-data-model
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - name: Checkout covid-data-public
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-public
        path: covid-data-public
        lfs: true
        ref: '${{env.COVID_DATA_PUBLIC_REF}}'
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'
    - name: Cache Pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install Dependencies
      working-directory: ./covid-data-model
      run: pip install -r requirements.txt

    - name: Build model Results (run.sh .. .. execute_model)
      env:
        COVID_MODEL_CORES: 96
      run: ./covid-data-model/run.sh ./covid-data-public ./api_results execute_model
    # - name: Upload Model Results
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: model-results
    #     path: ./api_results

  execute-summaries:
    runs-on: self-hosted
    needs: execute-model
    env:
      # To pin to an old data set or model code, put the branch/tag/commit here:
      COVID_DATA_PUBLIC_REF: 'master'
      # !!! Change this to your BRANCH if you want to test it
      COVID_DATA_MODEL_REF: 'fridiculous/add-artifacts'

    steps:
    - name: Checkout covid-data-model
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-model
        path: covid-data-model
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - name: Checkout covid-data-public
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-public
        path: covid-data-public
        lfs: true
        ref: '${{env.COVID_DATA_PUBLIC_REF}}'
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'
    - name: Cache Pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install Dependencies
      working-directory: ./covid-data-model
      run: pip install -r requirements.txt

    # - uses: actions/download-artifact@v1
    #   with:
    #     name: model-results
    #     path: ./api_results
    - name: Build Summaries (run.sh .. .. execute_summaries)
      env:
        COVID_MODEL_CORES: 96
      run: ./covid-data-model/run.sh ./covid-data-public ./api_results execute_summaries
    # - name: Upload Summaries with Model Results
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: model-results-with-summaries
    #     path: ./api_results

  execute-dod:
    runs-on: self-hosted
    needs: execute-model
    env:
      # To pin to an old data set or model code, put the branch/tag/commit here:
      COVID_DATA_PUBLIC_REF: 'master'
      # !!! Change this to your BRANCH if you want to test it
      COVID_DATA_MODEL_REF: 'fridiculous/add-artifacts'

    steps:
    - name: Checkout covid-data-model
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-model
        path: covid-data-model
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - name: Checkout covid-data-public
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-public
        path: covid-data-public
        lfs: true
        ref: '${{env.COVID_DATA_PUBLIC_REF}}'
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'
    - name: Cache Pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install Dependencies
      working-directory: ./covid-data-model
      run: pip install -r requirements.txt

    # - uses: actions/download-artifact@v1
    #   with:
    #     name: model-results
    #     path: ./api_results
    - name: Build DoD (run.sh .. .. execute_summaries)
      env:
        COVID_MODEL_CORES: 96
      run: ./covid-data-model/run.sh ./covid-data-public ./api_results execute_dod
    # - name: Upload DoD with Model Results
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: model-results-with-dod
    #     path: ./api_results

  execute-api:
    runs-on: self-hosted
    needs: execute-model
    env:
      # To pin to an old data set or model code, put the branch/tag/commit here:
      COVID_DATA_PUBLIC_REF: 'master'
      # !!! Change this to your BRANCH if you want to test it
      COVID_DATA_MODEL_REF: 'fridiculous/add-artifacts'
    steps:
    - name: Checkout covid-data-model
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-model
        path: covid-data-model
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - name: Checkout covid-data-public
      uses: actions/checkout@v2
      with:
        repository: covid-projections/covid-data-public
        path: covid-data-public
        lfs: true
        ref: '${{env.COVID_DATA_PUBLIC_REF}}'
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'
    - name: Cache Pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install Dependencies
      working-directory: ./covid-data-model
      run: pip install -r requirements.txt

    # - uses: actions/download-artifact@v1
    #   with:
    #     name: model-results
    #     path: ./api_results
    - name: Build API (run.sh .. .. execute_api)
      env:
        COVID_MODEL_CORES: 96
      run: ./covid-data-model/run.sh ./covid-data-public ./api_results execute_api
    # - name: Upload API with Model Results
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: model-results-with-api
    #     path: ./api_results

    # - name: Deploy Artifacts to S3 (https://data.covidactnow.org/snapshot/${{env.SNAPSHOT_ID}}/).
    #   uses: jakejarvis/s3-sync-action@master
    #   with:
    #     args: --acl public-read --follow-symlinks --delete
    #   env:
    #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     SOURCE_DIR: './api_results/'
    #     DEST_DIR: 'snapshot/${{env.SNAPSHOT_ID}}'

      # TODO: Upload RedirectRules to AWS to make snapshot/latest pointer work.
