name: deploy to SIR dataset lambda
on: [push]
jobs:

  deploy_source:
    name: deploy SIR state and county datasets as a scheduled lambda func
    runs-on: ubuntu-latest
    steps:
      - name: checkout source code
        uses: actions/checkout@v1
      - name: default deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-1
          function_name: covidactnow-schedule-sir-dataset
          source: deploy_dod_dataset.py