name: Deploy AWS API Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - 'api/awsauth/**'

  workflow_dispatch:
    inputs:
      deploy_to_prod:
        description: 'If "true" will run full CI pipeline and deploy to prod'
        default: "false"

defaults:
  run:
    working-directory: api/awsauth/

env:
  COVID_DATA_MODEL_REF: ${{ github.head_ref }}

jobs:

  DeployDev:
    environment:
      name: dev
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - uses: actions/setup-node@v4
      with:
        node-version: '18.x'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install python requirements
      run: pip install -r requirements_test.txt -r requirements.txt
    - name: Install Serverless Framework and NPM dependencies
      run: |
        npm install -g serverless@2.72.3
        npm install
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
        DOTENV: ${{ secrets.DOTENV }}
        AWS_REGION: us-east-1
        API_URL: https://api-dev.covidactnow.org/v2
      run: tools/deploy-api-infrastructure.sh dev

  TestDev:
    if: github.event.inputs.deploy_to_prod == 'true'
    needs: [DeployDev]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install test requirements
      run: pip install -r requirements_test.txt
    - name: Run tests
      run: pytest end_to_end_test.py

  DeployProd:
    if: github.event.inputs.deploy_to_prod == 'true'
    needs: [TestDev]

    environment:
      name: prod
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: '${{env.COVID_DATA_MODEL_REF}}'
    - uses: actions/setup-node@v4
      with:
        node-version: '18.x'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install python requirements
      run: pip install -r requirements_test.txt -r requirements.txt
    - name: Install Serverless Framework and NPM dependencies
      run: |
        npm install -g serverless@2.72.3
        npm install
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
        DOTENV: ${{ secrets.DOTENV }}
        AWS_REGION: us-east-1
        API_URL: https://api.covidactnow.org/v2
      run: tools/deploy-api-infrastructure.sh prod