name: Build & Deploy API Docs

on:
  workflow_dispatch:

jobs:
  build-deploy:
    name: Build_and_Deploy_Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - run: yarn install
        working-directory: api/docs
      - run: yarn build
        working-directory: api/docs
        env:
          NODE_OPTIONS: '--openssl-legacy-provider'
      - uses: jakejarvis/s3-sync-action@master
        with:
          # We don't pass --delete so outdated assets will continue to be served. This ensures browsers with
          # cached html files can still fetch the JS assets referred to.
          args: --acl public-read --follow-symlinks
        env:
          AWS_S3_BUCKET: 'apidocs.covidactnow.org'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: 'api/docs/build/'      # optional: defaults to entire repository
      - name: API Docs Cloudfront Distribution Cache Invalidation
        uses: awact/cloudfront-action@master
        env:
          SOURCE_PATH: '/*'
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DISTRIBUTION_ID: ${{ secrets.API_DOCS_CLOUDFRONT_DISTRIBUTION_ID }}
      - name: Slack notification
        if: always()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_DEV_ALERTS }}
          STATUS: ${{job.status}}
        uses: Ilshidur/action-slack@fb92a78a305a399cd6d8ede99d641f2b9224daf3
        with:
          args: 'API docs deploy completed successfully'
