name: Build & Deploy API Docs

on:
  repository_dispatch:
    types: deploy-docs
  push:

jobs:
  build-deploy:
    name: Build_and_Deploy_Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn install
        working-directory: api/docs
      - run: yarn build
        working-directory: api/docs
      - uses: jakejarvis/s3-sync-action@master
        with:
          # We don't pass --delete so outdated assets will continue to be served. This ensures browsers with
          # cached html files can still fetch the JS assets referred to.
          args: --acl public-read --follow-symlinks
        env:
          AWS_S3_BUCKET: 'apidocs.covidactnow.org'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: 'api/docs/build/'      # optional: defaults to entire repository
