name: Daily Scheduled Job
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: master
      - name: Action Placeholder
        run: |
          echo "Run Daily Job"
